# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Kipo-CLI.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\a\RiderProjects\Kipo-CLI\.idea\.idea.Kipo-CLI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
